{% extends '::base.html.twig' %}

{% block body -%}
    <h1>VEvent list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Startat</th>
                <th>Endat</th>
                <th>Summary</th>
                <th>Description</th>
                <th>Comment</th>
                <th>Revisionsequence</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Url</th>
                <th>Createdat</th>
                <th>Lastmodifiedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('vevent_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.label }}</td>
                <td>{% if entity.startAt %}{{ entity.startAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.endAt %}{{ entity.endAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.summary }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.comment }}</td>
                <td>{{ entity.revisionSequence }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.priority }}</td>
                <td>{{ entity.url }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastModifiedAt %}{{ entity.lastModifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('vevent_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('vevent_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('vevent_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
