{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AdditionalInformations</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ entity.website }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ entity.img }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('additionalinformations') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('additionalinformations_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
