<!doctype html>
<html lang="en" ng-app="liveconApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>livecon app'</title>

    <!-- included styles -->
    <link rel="stylesheet" href="{{ asset('bundles/frontend/app/css/bootstrap-combined.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/app/css/loading-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/app/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/app/css/animations.css') }}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- included vendors -->
    <script src="{{ asset('bundles/frontend/vendors/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/vendors/angular.js') }}"></script>
    <script src="{{ asset('bundles/frontend/vendors/angular-resource.js') }}"></script>
    <script src="{{ asset('bundles/frontend/vendors/angular-route.js') }}"></script>
    <script src="{{ asset('bundles/frontend/vendors/angular-animate.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/vendors/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/vendors/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/vendors/angular-ui-router.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/vendors/draganddrop.js') }}"></script>
    <script src="{{ asset('bundles/frontend/vendors/loading-bar.js') }}"></script>
    <script src="{{ asset('bundles/frontend/vendors/loadingBarModule.js') }}"></script>

    <!-- common client app assets -->
    <script src="{{ asset('bundles/frontend/app/js/app.js') }}"></script>
    <script src="{{ asset('bundles/frontend/app/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/frontend/app/js/directives.js') }}"></script>
    <script src="{{ asset('bundles/frontend/app/js/routes.js') }}"></script>
    <script src="{{ asset('bundles/frontend/app/js/services.js') }}"></script>
    <script src="{{ asset('bundles/frontend/app/js/filters.js') }}"></script>
    <!-- <script src="{{ asset('bundles/frontend/app/js/animations.js') }}"></script> -->

    <!-- basic client app context definition -->
    <script>
        var globalConfig = {
            api: {
                urls: {
                    organizations: "{{ path('apiREST_get_organizations') }}"
                }
            },
            app: {
                urls: {
                    base: "{{ asset('bundles/frontend/app/') }}",
                    partials: "{{ asset('bundles/frontend/app/partials/') }}",
                    img: "{{ asset('bundles/frontend/app/img') }}"
                },
                modules: {

                }
            },
            language: 'EN'
        };
        console.log(globalConfig);
        angular.module('liveconApp').value('GLOBAL_CONFIG', globalConfig);
    </script>

</head>

<body ng-controller="mainCtrl">

    <div class="navTop" ng-include="GLOBAL_CONFIG.app.urls.partials+'layout/nav-top.html'"
         ng-controller="navTopCtrl">
    </div>

    <div id="wrapper">

        <div class="navLeft" ng-include="GLOBAL_CONFIG.app.urls.partials+'layout/nav-left.html'"
             ng-controller="navLeftCtrl"></div>

        <!-- Page content -->
        <div id="page-content-wrapper">

            <div class="page-content inset view-container">

                <div class="row view-frame" ng-class="view-frame" data-ng-view="">
                </div>

            </div>

        </div>

    </div>

</body>

</html>
