<!doctype html>
<html lang="en" ng-app="liveconApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>livecon app'</title>

    {% stylesheets 'bundles/frontend/app/css/bootstrap-combined.min.css' 
                   'bundles/frontend/app/css/bootstrap.min.css' 
                   'bundles/frontend/app/css/loading-bar.css' 
                   'bundles/frontend/app/css/app.css' 
                   'bundles/frontend/app/css/animations.css' 
                    output='css/compiled/vendors.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% endstylesheets %}

   
    <!-- included vendors -->
    {% javascripts 'bundles/frontend/vendors/jquery.min.js'
               'bundles/frontend/vendors/angular.js'
               'bundles/frontend/vendors/angular-resource.js'
               'bundles/frontend/vendors/angular-translate.js'
               'bundles/frontend/vendors/angular-route.js'
               'bundles/frontend/vendors/angular-animate.min.js'
               'bundles/frontend/vendors/bootstrap.min.js'
               'bundles/frontend/vendors/ui-bootstrap-tpls.min.js' 
               'bundles/frontend/vendors/angular-ui-router.min.js' 
               'bundles/frontend/vendors/draganddrop.js'
               'bundles/frontend/vendors/angular-cached-resource.min.js'
               'bundles/frontend/vendors/loading-bar.js' 
               'bundles/frontend/vendors/loadingBarModule.js'  output='js/compiled/main.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <!-- common client app assets -->
    {% javascripts 'bundles/frontend/app/js/app.js'
               'bundles/frontend/app/js/controllers.js'
               'bundles/frontend/app/js/directives.js'
               'bundles/frontend/app/js/routes.js'
               'bundles/frontend/app/js/services.js'
               'bundles/frontend/app/js/filters.js' output='js/compiled/app.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>
   
    
    <!-- <script src="{{ asset('bundles/frontend/app/js/animations.js') }}"></script> -->

    <!-- community client app assets -->
    <script src="{{ asset('bundles/frontend/app/modules/community/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/frontend/app/modules/community/js/routes.js') }}"></script>
    <script src="{{ asset('bundles/frontend/app/modules/community/js/services.js') }}"></script>

    <!-- organization client app assets -->
    <script src="{{ asset('bundles/frontend/app/modules/organization/js/services.js') }}"></script>
    <script src="{{ asset('bundles/frontend/app/modules/organization/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/frontend/app/modules/organization/js/routes.js') }}"></script>

     <!-- authentification client app assets -->
    <script src="{{ asset('bundles/frontend/app/modules/authentification/js/services.js') }}"></script>
    <script src="{{ asset('bundles/frontend/app/modules/authentification/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/frontend/app/modules/authentification/js/routes.js') }}"></script>

    <!-- basic client app context definition -->
    <script>
        var globalConfig = {
            api: {
                urls: {
                    organizations: "{{ path('apiREST_get_organizations') }}",
                    login: "{{ path('api_user_login', {_format: 'json'}) }}",
                    registration: "{{ path('apiREST_get_organizations') }}"
                }
            },
            app: {
                urls: {
                    base: "{{ asset('bundles/frontend/app/') }}",
                    partials: "{{ asset('bundles/frontend/app/partials/') }}",
                    img: "{{ asset('bundles/frontend/app/img/') }}"
                },
                modules: {
                    organization: {
                        urls: {
                            base: "{{ asset('bundles/frontend/app/modules/organization/') }}",
                            partials: "{{ asset('bundles/frontend/app/modules/organization/partials/') }}",
                            img: "{{ asset('bundles/frontend/app/modules/organization/img') }}"
                        }
                    },
                    authentification: {
                        urls: {
                            base: "{{ asset('bundles/frontend/app/modules/authentification/') }}",
                            partials: "{{ asset('bundles/frontend/app/modules/authentification/partials/') }}",
                            img: "{{ asset('bundles/frontend/app/modules/authentification/img') }}"
                        }
                    }
                }
            },
            language: 'EN'
        };
        angular.module('liveconApp').value('GLOBAL_CONFIG', globalConfig);
    </script>
    {% endjavascripts %}
</head>

<body ng-controller="mainCtrl">

    <div class="navTop" ng-include="GLOBAL_CONFIG.app.urls.partials+'layout/nav-top.html'"
         ng-controller="navTopCtrl">
    </div>
    <div ng-controller="AlertCtrl" id="alertBox">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.code}}{# {{alert.code | translate}} #}</alert>
    </div>
    <div id="wrapper">

        <div class="navLeft" ng-include="GLOBAL_CONFIG.app.urls.partials+'layout/nav-left.html'"
             ng-controller="navLeftCtrl"></div>

        <!-- Page content -->
        <div id="page-content-wrapper">

            <div class="page-content inset view-container">

                <div class="row view-frame" ng-class="view-frame" data-ng-view="">
                </div>

            </div>

        </div>

    </div>

</body>

</html>
